<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>MylaravelApp</title>
        <link rel="stylesheet" href="/Users/satoukouhei/Desktop/MyLaravelApp/public/css/components.css">
        <script src="https://kit.fontawesome.com/19d6cf92e4.js" crossorigin="anonymous"></script>
        <!-- {{ url('css/top.css') }} -->

    </head>
    <body>
        <header>
           <div class="searchForm">
               <div>logo</div>
               <form action="" method="" class="search">
                   <input type="text" placeholder="ここに入力" class="searchWord">
                   <input type="submit" value="検索" class="submit">
               </form>
           </div>
           <div class="menuList">
               <ul class="list">
                   <li class="icon">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                   </li>
                   <li class="icon">
                       <i class="fas fa-bars fa-2x"></i>
                   </li>
               </ul>
            </div>

        </header>
        <!-- メニューmodal -->
        <div id="modal" class="modal">
            <ul>
                <li>新規登録・ログイン</li>
                <li>新規登録</li>
                <li>ログイン</li>
                <li>お買い物</li>
                <li>ジャンルで探す</li>
                <li>値段で探す</li>
            </ul>
        </div>

        {{ $slot }}
        <script src="public/js/top.js"></script>
    </body>
</html>
