<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>MylaravelApp</title>
        <link rel="stylesheet" href="/Users/satoukouhei/Desktop/MyLaravelApp/public/css/components.css">
        <script src="https://kit.fontawesome.com/19d6cf92e4.js" crossorigin="anonymous"></script>
        <!-- {{ url('css/top.css') }} -->

    </head>
    <body>
        <header>
           <div class="searchForm">
               <div>logo</div>
               <form action="" method="" class="search">
                   <input type="text" placeholder="ここに入力" class="searchWord">
                   <input type="submit" value="検索" class="submit">
               </form>
           </div>
           <div class="menuList">
               <ul class="list">
                   <li class="icon">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                   </li>
                   <li class="icon">
                       <i class="fas fa-bars fa-2x" id="menu"></i>
                   </li>
               </ul>
            </div>
        </header>
        <!-- メニューmodal -->
        <section id="modal">
            <div id="close">✖️</div>
                <h3>新規登録・ログイン</h3>
                <p>新規登録</p>
                <p>ログイン</p>
                <h3>お買い物</h3>
                <p>ジャンルで探す</p>
                <p>値段で探す</p>
        </section>

        {{ $slot }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/Users/satoukouhei/Desktop/MyLaravelApp/public/js/top.js"></script>
    </body>
</html>
