body {
    margin: 0;
}
a {
    text-decoration: none;
}

header {
    z-index: 8;
    display: flex;
    justify-content: space-around;
     height: 100px;
     background-color: rgb(0, 140, 255);
     color: white;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
 }
 .searchForm {
     display: flex;
     align-items: center;
     width: 40%;
     margin: 0 auto;
 }
 .search {
     width: 40%;
     display: flex;
     align-content: center;
     margin: 0 auto;
 }
 .searchForm1{
     width: 40%;
    margin-left: 30%;
 }
 .searchWord{
     width: 100%;
     border-radius: 10px;
 }
 .submit {
     padding: 2px 8px;
     border-radius: 5px;
     margin-left: 30px;
     box-shadow: 2px 2px rgb(2, 77, 138);
    border:1px solid rgb(2, 77, 138);
 }
.list{
    display: flex;
    justify-content: right;
    width: 15%;
    list-style: none;
 }
 .icon {
     margin: auto;
     margin-left: 5%;
     margin-right: 15%;
 }

/* menulistmodalのcss */
 #modal {
     display: none;
     background-color: rgba(255, 255, 255, 0.986);
     width: 25%;
     z-index: 10;
     position: fixed;
     top: 0%;
     right: 0%;
     border:1px solid rgba(0, 0, 0, 0.303);
     opacity: 0.9999999999;
 }
 #modal > p,h3 {
     text-align: center;
     margin: 20px auto;
     padding: 6px 8px;
     font-size: 20px;
     border-bottom:1px solid rgba(0, 0, 0, 0.303);
 }
 #close {
     width: 20px;
     margin-left: auto;
     margin-right: 20px;
     cursor: pointer;
     font-size: 30px;
 }
 #modal.open {
     display: block;
     animation: modal1 .4s;
 }
#modal.hidden {
    display: block;
    animation: modal2 2s forwards;
}
@keyframes modal1{
    0% {
        right: -100%;
    }
    50% {
        right: -50%;
    }
    100% {
        right: 0%;
    }

}
@keyframes modal2{
    from {
        right: 0%;
    }
    to {
        right: -100%;
    }

}
/* 買い物カゴ */
.cartbox.open {
    z-index: 14;
    position: fixed;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.705);
    background-color: rgb(0, 0, 0);
    animation: move1 2s .3s forwards;
}
@keyframes move1 {
    from {
        left: 40%;
    }
    to {
        left: -100%;
    }

}
.cart {
    display: none;
    position: fixed;
    top:5%;
    left: 30%;
    width: 40%;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.705);
    background-color: white;
    z-index: 15;
}
.cart > ul {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 55%;
}
.cart > h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 28px;
    border-bottom: 2px solid gray;
}
.cart > h2 > a {
    display: inline-block;
    margin-left: 10%;
}
.cart > button,.buyBtn {
    display: block;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgb(22, 22, 175);
    border: 1px solid rgb(13, 13, 93);
    box-shadow: 4px 4px rgb(13, 13, 93);
    color: white;
}
.cart > button {
    background-color: orange;
    border: 1px solid orange;
    box-shadow: 4px 4px rgb(144, 94, 0);
}
.cart.open{
    display: block;
    left: -100%;
    animation: move2 3s 1s forwards;
}
@keyframes move2 {
    from {
        left: -100%;
    }
    to {
        left: 30%;
    }

}
.cart.hidden{
    display: block;
    opacity: 1;
    animation: outMove .3s forwards;
}
@keyframes outMove {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}
.shoppingList {
    border:1px solid gray;
    position: relative;
    max-width: 70%;
    min-width: 20%;
    height: 10%;
    margin: 10px auto;
    border-radius: 10px;
    opacity: 0;
    top: -100%;
}
.shoppingList.active {
    animation: fadeInTop 5s forwards;
}
@keyframes fadeInTop {
    from {
        opacity: 0;
        top: -100%;
    }
    to {
        opacity: 1;
        top: 0;
    }

}

.background {
    background: gray;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 14;
    height: 100%;
    display: none;
}
.background.open {
    display: block;
}
/* 新規登録のmodal */
 .signup {
     width: 50%;
     height: 95%;
     z-index: 15;
     background-color: white;
     position: fixed;
     top: 1%;
     left: 25%;
     opacity: 1;
     text-align: center;
    display: none;
 }
 .signup.open {
     display: block;
    animation: signup1 3s forwards;
 }

.signup.hidden {
    display: none;
}
 @keyframes signup1 {
    from {
        opacity: 0;
        top: -100%;
    }
    to {
    opacity: 1;
    top: 1%;
    }
 }
 #signup > input, #LoginForm > input {
     display: block;
     width: 60%;
     margin: 4% auto;
     z-index: 15;
 }
form > h2 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.671);
    margin-bottom: 0;
    font-size: 24px;
}
#Back , .Back{
   float: right;
   font-size: 48px;
   cursor: pointer;
}
form > p {
    font-size: 18px;
    margin-bottom: 0;
}
.signBtn {
    color: white;
    border-radius: 10px;
    background-color: rgb(50, 151, 233);
    border: 1px solid rgb(50, 151, 233);
    box-shadow: 4px 4px rgb(34, 102, 158);
}
.loginBtn {
    width: 60%;
    color: white;
    border-radius: 10px;
    background-color: springgreen;
    border: 1px solid springgreen;
    box-shadow: 4px 4px rgb(0, 129, 65);
}
/* ログイン */
.LoginForm {
    width: 50%;
    height: 80%;
    z-index: 18;
    background-color: white;
    position: fixed;
    top: 5%;
    left: 25%;
    opacity: 1;
    text-align: center;
    display: none;
}
.LoginForm.open {
    display: block;
}
.LoginForm.hidden {
    display: none;
}


