body {
    margin: 0;
}
a {
    text-decoration: none;
}

header {
    z-index: 8;
    display: flex;
    justify-content: space-around;
     height: 100px;
     background-color: rgb(0, 140, 255);
     color: white;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
 }
 .searchForm {
     display: flex;
     align-items: center;
     width: 40%;
     margin: 0 auto;
 }
 .search {
     width: 80%;
     display: flex;
     align-content: center;
     margin: 0 auto;
 }
 .searchForm1{
     width: 40%;
    margin-left: 30%;
 }
 .searchWord{
     width: 100%;
     border-radius: 10px;
 }
 .submit {
     padding: 2px 8px;
     border-radius: 5px;
     margin-left: 30px;
     box-shadow: 2px 2px rgb(2, 77, 138);
    border:1px solid rgb(2, 77, 138);
 }
 .menuList {
     width: 20%;
     display: flex;
     align-items: center;
 }
.list{
    display: flex;
    justify-content: right;
    width: 100%;
    list-style: none;
 }
 .icon {
     margin: auto;
     margin-left: 5%;
     margin-right: 15%;
 }

/* modalã®css */
 #modal {
     display: none;
     background-color: rgba(255, 255, 255, 0.986);
     width: 25%;
     z-index: 10;
     position: fixed;
     top: 0;
     right: 0;
     border:1px solid rgba(0, 0, 0, 0.303);
     opacity: 0.9999999999;
 }
 #modal > p,h3 {
     text-align: center;
     margin: 20px auto;
     padding: 6px 8px;
     font-size: 20px;
     border-bottom:1px solid rgba(0, 0, 0, 0.303);
 }
 #close {
     width: 20px;
     margin-left: auto;
     margin-right: 20px;
     cursor: pointer;
     font-size: 30px;
 }
#modal.hidden {
    display:block;
   animation: modal1 .4s;
}
@keyframes modal1{
    0% {
        right: -100%;
    }
    50% {
        right: -50%;
    }
    100% {
        right: 0%;
    }

}
 .signup {
     width: 50%;
     height: 30%;
     z-index: 15;
     background-color: gold;
     position: fixed;
     top: 30%;
     left: 25%;
     /* right:; */
 }
 .name {
     z-index: 15;
 }
 .callNum {
     z-index: 15;
 }



