body {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
     height: 100px;
     background-color: rgb(0, 140, 255);
     color: white;
 }
 .searchForm {
     display: flex;
     align-items: center;
     width: 40%;
     margin: 0 auto;
 }
 .search {
     width: 80%;
     display: flex;
     align-content: center;
     margin: 0 auto;
 }
 .searchWord{
     width: 100%;
     border-radius: 10px;
 }
 .submit {
     padding: 2px 8px;
     border-radius: 5px;
     margin-left: 30px;
     box-shadow: 2px 2px rgb(2, 46, 82);

 }
 .menuList {
     width: auto;
     display: flex;
     align-items: center;
     margin-right: 30px;
 }
.list{
    display: flex;
    float: right;
    width: auto;
    list-style: none;
 }
 .icon {
     margin: 0 20px;
 }
 li {
     margin: 0 10px;
 }
/* modalã®css */
 #modal {
     display: none;
     background-color: rgba(251, 251, 251, 0.979);
     width: 25%;
     z-index: 2;
     position: fixed;
     top: 0px;
     right: 0px;
     border:1px solid rgba(0, 0, 0, 0.303);
 }
 #modal > p,h3 {
     position: relative;
     top: 0px;
     right: 0%;
     text-align: center;
     margin: 20px auto;
     padding: 6px 8px;
     font-size: 20px;
     border-bottom:1px solid rgba(0, 0, 0, 0.303);
 }
 #close {
     width: 20px;
     margin-left: auto;
     margin-right: 20px;
     cursor: pointer;
     font-size: 30px;
 }
#modal.hidden {
    display:block;
    right: 0%;
   animation: modal .3s;
}
@keyframes modal {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }

}



