.DetailContainer {
    width: 30%;
    border: 1px solid rgba(175, 175, 175, 0.609);
    margin: 0 auto;
    background-color: white;
    margin: 30px auto;
    padding: 20px;
    border-radius:10px;
}
.HistoryLink {
    text-align: left;
    margin-left: 10px;
}
.LinkTop {
    text-align: left;
    width: 4%;
    margin: 40px 10% 0;
    text-decoration: underline;
}
.DetailContainer > h1 {
    border-bottom: 1px solid rgba(184, 182, 182, 0.541);
    margin: 20px auto;
}
.Explain
{
    margin: 15px auto 30px;
    border-radius: 10px;
    border: 1px solid rgba(185, 185, 185, 0.5);
    font-size: 24px;
    padding: 0px 2px 52px;
}
.Price {
    font-size: 32px;
}
