body {
    padding-top: 100px;
    text-align: center;
    background-color: rgb(253, 253, 241);
}
p {
    margin: 0;
}
h2 {
    margin: 20px;
}
a:visited{
    color: black;
}
/* メイン画面 */
.Main {
    height: 800px;
    background-image: url(../img/4242698_m.jpg);
    background-size: cover;
    color: white;
}
.Main > h1 {
    font-size: 1000%;
    font-family: 'Courier New', Courier, monospace;
    padding: 80px;
}
.Main > p{
    font-size: 300%;
}

/* カルーセル */
.Ad {
    width: 85%;
    margin: 50px auto 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.screen {
    border: 1px solid rgba(128, 128, 128, 0.212) ;
    border-radius: 10px;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10%;
}
.prev,.next {
    position: absolute;
    top: 40%;
    border: none;
    padding: 10px;
    cursor: pointer;
    left: 0;
    color: white;
    background-color: gray;
}
.prev:hover,
.next:hover {
    opacity: 0.8;
}
.next {
    left: auto;
    right: 0;
}
.hidden {
    display: none;
}
.screenBtn {
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-top: 4px;
}
nav .current {
    background: black ;
}
/* オススメ※セール */
.sellAd,.recommends,.sells {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50%;
    display: flex;
    transition: transform .3s;
}
.recommends,.sells {
    height: 300px;
    margin: 10px;
    overflow-x: auto;
}
.rank {
    display: inline-block;
    position: absolute;
    top:0%;
    left: 0%;
    min-width: 20%;
    color: white;
    background-color: gold;
    font-size: 18px;
}
.recommend,.sell {
    background-color: white;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.212);
    width: 100%;
    min-width: 20%;
    height: 90%;
    margin: 20px;
    opacity: 0;
}
.recommend > h1,.sell > h1 {
    margin: 20px 0 100px;
}
.beforePrice {
    text-decoration: line-through tomato 2px;
}
.discountText {
    color: tomato;
    font-size: 10px;
    text-align: right;
    width: 50%;
    margin: 0 auto;
}
.recommend.active {
    left: -100%;
    animation: ScrollIn 4s forwards;
}
.sell.active {
    opacity: 0;
    top: 100%;
    animation: sellIn 4s forwards;
}
@keyframes ScrollIn {
    from {
     left: -100%;
     opacity: 0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
}
@keyframes sellIn{
    0% {
        opacity: 0;
        top: 100%;
    }
    60% {
        opacity: 0,6;
        top: -3%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
/* Foodsection */
#Food {
 font-family: cursive;
}
.foodmenu {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 10px auto 0;
    height: auto;
    padding: 0;
}
.foodmenu li {
    width: 80px;
}
.foodmenu li a {
    color: white;
    display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 70px;
    cursor: pointer;
}
.foodmenu li {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.content.active {
    display: block;
    height: 500px;
    width: 60%;
    margin: 0 auto 30px;
    box-sizing: border-box;
}
.content {
    display: none;
}
.foodUl> li {
    width: 50%;
    height: 50%;
    border: 1px solid gray;
    margin: 20px auto;
    padding: 3%;
    border-radius: 10px;
}
.foodUl {
    white-space: normal;
    margin:  0 auto;
    padding: 0;
}
.tab1 {
    background: rgb(255, 103, 103);
}
.tab2 {
    background: rgb(48, 103, 255);

}
.tab3 {
    background: rgb(95, 200, 95);

}
.tab4 {
    background: rgb(255, 245, 103);

}
.tab5 {
    background: rgb(255, 202, 103);

}
.tab6 {
    background: rgb(228, 103, 103);

}
.tab7 {
    background: rgb(255, 98, 255);

}

/* 検索結果表示 */
#SearchList {
    width: auto;
    padding-top: 150px;
}
.SearchResults {
    margin: 10px auto;
    background-color: white;
    width: 30%;
    height: 200px;
    padding: 20px;
    border: 2px solid rgb(238, 241, 243);
}
.SearchResults > h1,.SearchResults > p {
    border-bottom: 1px solid gray;
}
.ResToCart,.ToCart{
    color: white;
    background-color: lightseagreen;
    border: lightseagreen;
    border-radius: 5px;
}

 /* Footer */
footer {
    padding: 12px 48px;
    background-color: rgb(61, 61, 61);
    color: white;
}
footer > ul{
    display: flex;
    justify-content: right;
}

.FooterIcon:visited {
    color: white;
}
.FooterIcon {
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
}
.twitter {
    background-color: rgb(0, 174, 255);
}
.facebook {
    background-color: #4565a2;
}
.instagram {
    background-color: #d93175;
}
footer > li,footer > h2 {
    list-style: none;
    text-align: left;
    margin: 0 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.801);
    width: 30%;
    line-height: 50px;
}
footer > h2 {
    width: 20%;
}
#sns {
    text-align: center;
    margin-left: auto;
}
.myline {
    background-color: limegreen;
    border-radius: 50%;
}


