main {
    margin: 100px auto 0;
    text-align: center;
    z-index: 1;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

section {
    width: 25%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 80%;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    transition: transform .3s;
}

.screen {
    border: 1px solid gray;
    min-width: 100%;
    height: 100%;
    outline:1px solid gray;
    box-sizing: border-box;
}
.sp {
    display: block;
    overflow: hidden;
}

.prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(128, 128, 128, 0.801);
    padding: 10px;
    cursor: pointer;
}
.prev:hover,
.next:hover {
    opacity: 0.8;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.hidden {
    display: none;
}
.screenBtn {
    background: rgb(202, 202, 202) ;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-top: 4px;
}
nav .current {
    background: black ;
}



#Food {
 font-family: cursive;
}
.foodmenu {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto 0;
    padding:12px 60px 0;
    height: auto;
}
.foodmenu li a {
    color: white;
    display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 70px;
    cursor: pointer;
}
.foodmenu li {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.content.active {
    display: block;
    height: 50%;
    border:2px solid gray;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
.content {
    display: none;
}

.tab1 {
    background: rgb(238, 53, 53);
    margin: 0;
}
.tab2 {
    background: rgb(34, 86, 230);
}
.tab3 {
    background: rgb(14, 204, 14);

}
.tab4 {
    background: rgb(250, 233, 3);

}
.tab5 {
    background: orange

}
.tab6 {
    background: pink;

}
.tab7 {
    background: rgb(185, 26, 185);

}

footer {
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
    height: 30%;
    margin-top: 100px;
}
footer p {
    margin: 0;
}

.backlink {
    color: cyan;
}

