main {
    margin: 100px auto 0;
    text-align: center;
    z-index: 1;
    background-color: rgb(253, 253, 241);
}
h2 {
    margin: 50px;
}

.sellAd,.recommends,.Sells {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    transition: transform .3s;
}

.Ad {
    width: 30%;
    margin: 50px auto 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 30%;
}
.screen {
    border: 1px solid rgba(128, 128, 128, 0.212) ;
    border-radius: 10px;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10%;
}
.sp {
    display: block;
    overflow: hidden;
}

.prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev:hover,
.next:hover {
    opacity: 0.8;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.hidden {
    display: none;
}
.screenBtn {
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-top: 4px;
}
nav .current {
    background: black ;
}
.recommends,.Sells {
    height: 60%;
    margin: 10px;
    overflow: auto;
}
.rank {
    min-width: 20%;
    width: 20%;
    height: 10%;
    color: white;
    background-color: gold;
    font-size: 24px;
}
.recommend,.sell {
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.212);
    width: 100%;
    min-width: 20%;
    height: 90%;
    margin: 20px;
    opacity: 0;
}
.recommend.active {
    left: -100%;
    animation: ScrollIn 4s forwards;
}
.sell.active {
    opacity: 0;
    top: 100%;
    animation: sellIn 4s forwards;
}
@keyframes ScrollIn {
    from {
     left: -100%;
     opacity: 0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
}
@keyframes sellIn{
    0% {
        opacity: 0;
        top: 100%;
    }
    60% {
        opacity: 0,6;
        top: -3%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

#Food {
 font-family: cursive;
}
.foodmenu {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto 0;
    padding:12px 60px 0;
    height: auto;
}
.foodmenu li a {
    color: white;
    display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 70px;
    cursor: pointer;
}
.foodmenu li {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.content.active {
    display: block;
    height: 80%;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
.content {
    display: none;
}
.content > ul > li {
    width: 50%;
    border: 1px solid gray;
    margin: 20px auto;
    padding: 3%;
    border-radius: 10px;
}
.foodUl {
    white-space: normal;
    padding: 0;
}

.tab1 {
    background: rgb(238, 53, 53);
    margin: 0;
}
.tab2 {
    background: rgb(34, 86, 230);
}
.tab3 {
    background: rgb(14, 204, 14);

}
.tab4 {
    background: rgb(250, 233, 3);

}
.tab5 {
    background: orange

}
.tab6 {
    background: pink;

}
.tab7 {
    background: rgb(185, 26, 185);

}

footer {
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
    height: 30%;
    margin-top: 100px;
}
footer p {
    margin: 0;
}

.backlink {
    color: cyan;
}

